body {
    background-image: url(pictures/312.jpg);
    background-size:cover;
    text-align: center;
    font-size: 70px;
}

p {
    margin-left: 100px;

}

.first-costs {
    font-size: 50px;
    border: 5px solid rgb(255, 255, 255);
    background-color: black;
    color: rgb(153, 150, 0);
}
.first-costs:hover {
    color: red;
}

.main-costs {
    font-size: 50px;
    border: 5px solid rgb(255, 255, 255);
    background-color: black;
    color: rgb(153, 150, 0);
    margin-left: 100px;
}
.main-costs:hover {
    color: red;
}

.home-head {
    color: rgb(223, 247, 105);
    margin: 70px;
}