body {
    background-image: url(pictures/312.jpg);
    background-size: cover;
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}

p {
    margin-left: 100px;
}

button {
    background-color: aqua;
    font-size: 40px;
    border-radius: 10px;

}
.select-button {
    text-align: left;
    background: rgb(82, 82, 82);
    float: left;
}

  
.title {
    color: aliceblue;
    font-size: 60px;
    padding-bottom: 20px;
    /* text-align: center; */
    text-shadow: 3px 3px 5px rgb(175, 44, 5) , -3px -3px 5px rgb(11, 185, 185);

}


.area .dormitory-button {
    background: rgb(0, 0, 0);
    font-size: 40px;
    color: rgba(3, 250, 24, 0.781);
    border-radius: 10px;
    

}

.area .foodIndormitory-button {
    background: rgb(0, 0, 0);
    font-size: 40px;
    color: rgba(255, 255, 255, 0.781);
    border-radius: 10px;
}

.area .snacks-button {
    background: rgb(0, 0, 0);
    font-size: 40px;
    color: rgba(255, 0, 0, 0.781);
    border-radius: 10px;

}

button.large-button {
    background-color: rgb(255, 153, 0);
    width: 500px;
    ;
    color: rgb(0, 0, 0);
    border-radius: 44px;

}

.large-button:hover {
    color: aliceblue;
}

.return-button {
    color: aliceblue;
    border: 3px solid rgb(245, 0, 0);
    font-size: 20px;
}

.footer {
    color: aliceblue;
}